body {
  background-color: #ece3d9;
}

.homepageImage {
  width: 500px;
  height: auto;
  border: solid 2px #a77358;
  border-radius: 100px;
  box-shadow: 5px 5px 5px 5px #e0d1d1;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #a77358;
  border-radius: 20px;
  padding-bottom: 10px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Abril Fatface', serif;
  font-size: 1.5rem;
  color: white;
  background-color: #cf7843;
  
}
button {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 10px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  border: solid 2px #a77358;
}

.homeContent {
  margin: 10px;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
}

.allProducts {
  font-family: 'Josefin Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  gap: 10px;
  margin: 10px;
  
}

.product {
  border: solid 2px #a77358;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px #a77358;
  
}

.shoppingCart {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #fff;
  min-height: 400px;
  min-width: 350px;
  padding: 10px;
}

.shoppingCart li {
  margin-bottom: 10px;
}

.shoppingCart button {
  margin-left: 10px;
}